USE [master]
GO
/****** Object:  Database [GREENFINCHTUBE]    Script Date: 12.11.2017 22:44:11 ******/
CREATE DATABASE [GREENFINCHTUBE]
GO
USE [GREENFINCHTUBE]
GO
/****** Object:  Table [dbo].[HeardAbout]    Script Date: 12.11.2017 22:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeardAbout](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[HeardFrom] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeardAbout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginUser]    Script Date: 12.11.2017 22:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NULL,
	[Password] [nvarchar](50) NULL,
	[EMail] [nvarchar](250) NULL,
	[HeardId] [bigint] NULL,
	[Reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoginUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[HeardAbout] ON 

GO
INSERT [dbo].[HeardAbout] ([Id], [HeardFrom]) VALUES (1, N'Advert')
GO
INSERT [dbo].[HeardAbout] ([Id], [HeardFrom]) VALUES (2, N'Word of Mouth')
GO
INSERT [dbo].[HeardAbout] ([Id], [HeardFrom]) VALUES (3, N'Other')
GO
SET IDENTITY_INSERT [dbo].[HeardAbout] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginUser] ON 

GO
INSERT [dbo].[LoginUser] ([Id], [UserName], [Password], [EMail], [HeardId]) VALUES (1, N'ertan deneme', N'ertan123', N'ertan_caliskan@hotmail.com', 1)
GO
SET IDENTITY_INSERT [dbo].[LoginUser] OFF
GO
ALTER TABLE [dbo].[LoginUser]  WITH CHECK ADD  CONSTRAINT [FK_HeardAbout_LoginUser] FOREIGN KEY([HeardId])
REFERENCES [dbo].[HeardAbout] ([Id])
GO
ALTER TABLE [dbo].[LoginUser] CHECK CONSTRAINT [FK_HeardAbout_LoginUser]
GO
USE [master]
GO
